.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
}

.left-section {
  display: flex;
}

.right-section {
  display: flex;
  margin-left: auto;
}

.sharp-edge {
  border-radius: 0;
}

.smooth-edge {
  border-radius: 10px;
}